h3 {
    color: #0B6BCB;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.no-changes {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
}

.no-changes p {
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.grid-cell {
    border: 0.2px solid #ccc;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-difference {
    font-weight: bold;
    color: #d32102;
    border: 1px solid red;
}

.highlight-difference strong {
    color: #d32102; 
}

strong {
    font-size: 0.7rem;
    display: block;
    color: #0B6BCB;
}

